* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body > * {
    width: 70%;
    margin: auto;
    
}

body > *,
main > section {
    margin-top: 10px;
    margin-bottom: 10px;
}

header {
    height: 110px;
    background-color: white;
}

#main-top {
    /*height: 400px;*/
    padding: 400px 40% 50px 50px;
    overflow: hidden;
    border-radius: 10px;
    background: url(img/banner.jpg);
    background-position: center;
    color: white;
    
}

#main-top p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#main-bottom {
    /*height: 450px;*/
    background-color: white;
}

#main-bottom > h1,
#main-bottom > div > * {
    background-color:white;
}

#main-bottom > h1 {
    height: 5%;
}

#main-bottom > h5 {
    height: 5%;
    color: lightgray;
}

#main-bottom > div {
    height: 90%;
    padding: 10px;

}

#main-bottom aside,
#main-bottom article {
    height: 100%;
    float: left;
}

#main-bottom aside {
    width: 25%;
}

#main-bottom article {
    width: 45%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.clearfix::after {
    content: "";
    display: table;

    clear: both;
}


footer {
    height: 80px;
    background-color: white;
    text-align: center;
}

#logo-image {
    height: 50px;
    padding-right: 20px;
    border-right-style: inset;
    border-color: lightgray;
}

header nav ul {
    list-style: none;
}

header nav li {
    display: inline;
    margin: 10px;
    margin-left: 0px;
}

header nav a {
    text-decoration: none;
    color: lightgray;
    text-transform: uppercase;
}

#nav-bar {
    height: 50px;
    margin-top: 20px;
}

article > img,
aside > img {
    width: 100%;
}

footer span {
    color: red;
}

.main-img {
    height: 150px;
    border-radius: 10px;
    background-position: center;
    background-size: contain;
}

#main-bottom .clearfix :nth-child(1) > .main-img {
    background-image: url(img/img-1.jpg);
}

#main-bottom  .clearfix :nth-child(2) > .main-img {
    background-image: url(img/banner-2.jpg);
}

#main-bottom .clearfix :nth-child(3) > .main-img {
    background-image: url(img/img-3.jpg);
}


